@import "reset.css";

@import "fonts.css";
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body,
html {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 11px;
  color: #444;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6 0%, #e6e6e6 100%);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: bolder;
  margin: 50px 0 50px 0;
  font-size: 50px;
}
a,
a:hover,
a:visited,
a:active {
  color: #444;
}
#header,
#content,
#footer {
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin: 0 auto;
  clear: both;
  max-width: 850px;
  overflow: hidden;
}
#instructions,
#response {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 1em;
  padding-top: 0.5em;
  float: left;
  clear: left;
  width: 45%;
  margin: 0;
}
#content {
  min-height: 175px;
}
#response {
  float: right;
  text-align: right;
  display: none;
}
#footer {
  margin-top: 10em;
  text-align: center;
}
#Modal {
  display: none;
  top: 50px;
  width: 60em;
  min-height: 300px;
  border: solid 1px #444;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #e6e6e6));
  background: -ms-linear-gradient(bottom, #ffffff 0%, #ffffff 100%);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #e6e6e6 100%);
  text-align: center;
  padding: 20px;
}
.close {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 25px;
  height: 20px;
  background: #000;
  color: #FFF;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
#originalURL,
#shortenedURL {
  font-size: 2em;
  font-family: 'PTSans-Regular', sans-serif;
  width: 80%;
  height: 30px;
  border: solid 1px #CCC;
  margin: 10px 0 1em 0;
}
button {
  font-size: 1.5em;
  font-family: 'PTSans-Regular', sans-serif;
  display: block;
  width: 18%;
  float: right;
  height: 33px;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  border: solid 1px #CCC;
  margin: 10px 0 1em 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #cccccc, #ffffff);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #ffffff 100%);
}
#liveCopyToClip {
  font-size: 1em;
  margin: 5px 0 0 0;
  width: 30%;
}
#response input {
  /* IE7/8 */

  clear: both;
  display: inline-block;
}
#errorMessage,
#statsError {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  color: #FF7878;
  float: right;
}
#getLinkResponse {
  display: none;
  text-align: left;
}
#getLinkResponse table {
  width: 90%;
}
#Statstable {
  clear: both;
}
#StatsTitle,
th {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: bolder;
  font-size: 1.75em;
  float: left;
}
#StatsOriginalURL {
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 1.0em;
  margin: 5px 0;
  clear: both;
  float: left;
  width: 100%;
}
th {
  font-size: 1.0em;
}
.odd {
  background: #FFF;
}
.tableCount {
  text-align: right;
  float: right;
  width: 5%;
}
table {
  margin: 15px 0;
}
blockquote {
  font-family: monospace;
  font-size: 1em;
  background: #FFF;
  border: solid 1px #444;
  padding: 10px;
}
p {
  margin: 0 0 15px 0;
}
#timesUsedHolder {
  clear: both;
}
/* TODO
@media screen and (max-width: 720px) {
   
}
*/
